* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 101%;
    height: 101%;
    background: #47a591;
    background: -webkit-linear-gradient(left, #47a591, #478ba5);
    background: -moz-linear-gradient(left, #47a591, #478ba5);
    background: -ms-linear-gradient(left, #47a591, #478ba5);
    background: -o-linear-gradient(left, #47a591, #478ba5);
    background: linear-gradient(to right, #47a591, #478ba5);
}
