@font-face {
    font-family: junction regular;
    src: url('../fonts/Junction.otf');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.about {
    font-family: junction regular;
    z-index: 999;
    position: relative;
    background: transparent;
    margin-top: -85vh;
}

#MainTitle {
    font-family: junction regular;
    z-index: 999;
    position: relative;
    color: white;
    /*text-align: center;*/
}

.transparent {
    background-color: transparent !important;
}
